@charset "utf-8";
body{overflow-x: hidden}
@media all and (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
    .container .row {
        padding: 0 15px;
    }
}
header .navbar {
    margin-bottom: 0; border: 0;
}
header .navbar .container {
    position: relative;
}
header .navbar .container .navbar {
    margin: 0;
    border: 0;
}
header .navbar .container .logo {
    float: left;
}
header .navbar .container .logo a {
    padding: 0;
}
header .navbar .container .logo .place-sum{
    position: relative; display: inline-block;
    margin-top: 28px;
}
header .navbar .container .logo .place-sum p {
    display: inline-block;
cursor: pointer;
    padding-left: 5px;
    padding-bottom: 5px;
}
header .navbar .container .logo .place-sum p span {
    font-size: 16px;
    color: #61646a;
    margin-right: 3px;
}
header .navbar .container .logo .place-sum p i{
    color: red;
}
header .navbar .container .logo .place-sum .place{
    width:500%; position: absolute; left: 5px;  background: #fcfcf2; padding: 15px 0 0 15px; display: none;

}
header .navbar .container .logo .place-sum .place .item{
    float: left; width: 20%;height: 30px;
}
header .navbar .container .logo .place-sum .place .item a{
    color: #999; padding: 5px; padding-right: 7px;
}
header .navbar .container .logo .place-sum .place .item a:hover{
    background:#F4F4F4; color:red;
}
header .navbar .container .logo .place-sum .place .item a.active{
    color: #fff; background: red;
}
header .navbar .container .menuNav {
    margin-right: 26px;
}
header .navbar .container .menuNav li a {
    padding: 25px 18px;
    font-size: 18px;
    line-height: 18px;
    color: #6d6d6d;
}
header .navbar .container .menuNav li a:hover {
    background: 0;
}
header .navbar .container .menuNav li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #fcc01e;
    position: relative;
    bottom: -25px;
    display: none;
}
header .navbar .container .menuNav li:hover a::after{
    display: block;
}
header .navbar .container .menuNav li.active a::after {
    display: block;
}
header .navbar .container .menuNav li:nth-of-type(1) a {
    padding: 25px 36px;
}
header .navbar .container .menuNav li:nth-last-of-type(1) a {
    padding: 25px 27px;
}
header .navbar .container .btn-log {
    margin-right: 10px;
    margin-top: 20px;
}
header .navbar .container .btn-log button {
    width: 53px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #fcc01e;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #fcc01e;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}
header .navbar .container .btn-log button:hover{
    border: 1px solid #000; background: #fff;color: #3a3d42;
}
header .navbar .container .btn-nav {
    width: 53px;
    height: 28px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
    background: #fcc01e;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #fcc01e;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}
header .navbar .container .btn-nav:hover{
    border: 1px solid #000; background: #fff;color: #3a3d42;
}
header .navbar .container .subNav {
    text-align: center;
    position: absolute;
    bottom: -40px;
    width: 96%;
    background: #fff;
    margin: 0 auto;
    z-index: 10000;
}
header .navbar .container .subNav li {
    display: inline-block;
    float: none;
}
header .navbar .container .subNav li a {
    color: #333333;
}
header .navbar .container .subNav li a::after {
    position: relative;
    width: 100%;
    content: '';
    bottom: 2px;
    height: 1px;
    background: #000;
    display: none;
}
header .navbar .container .subNav li a:hover {
    background: 0;
}
header .navbar .container .subNav li.active a::after {
    display: block;
}
@media all and (max-width: 768px) {
    header .navbar .container .subNav {
        bottom: -242px;
    }
    header .navbar .container .subNav li {
        float: none;
        width: 50%;
    }
    header .navbar .container .subNav li.active {
        border-bottom: 1px solid #000;
    }
    header .navbar .container .subNav li.active a:after {
        display: none;
    }
    header .navbar .container .logo .place-sum{margin-top: 15px;}
    header .navbar .container .btn-nav{margin-top: 14px; margin-bottom: 10px;}
    header .navbar .container .logo img{width: 60%}
}